@import url("http://fonts.cdnfonts.com/css/fira-mono");

:root {
  --bg: #0b0a10;
  --bg-inner: #18171f;
  --bg-light: #24232b;
  --dark: #6c6a75;
  --accent: #a2f9bc;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Mono", monospace;
}

body {
  background-color: var(--bg);
  font-size: 20px;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
}
